Repository UCATLAS/xAODAnaHelpers, pull requests merged in 2019-02, with the labels that each got.

#1323 add ConfigDir configuration for JetCalibrator
  Root/JetCalibrator.cxx
  xAODAnaHelpers/JetCalibrator.h
Labels: enhancement, jet

#1327 Remove reference to nonexistent wiki
  docs/Algorithms.rst
Labels: bug, documentation

#1325 Update muon isolation working points to the latest nomenclature.
  Root/MuonSelector.cxx
  xAODAnaHelpers/MuonSelector.h
Labels: muon

#1324 fix HighPt and LowPt parsing for MuQuality
  Root/JetSelector.cxx
  Root/MuonSelector.cxx
  xAODAnaHelpers/JetSelector.h
Labels: enhancement, muon
